<div id="edit">
<h2>Edit page</h2>
<p>
<form name='content' action='[% c.uri_for('/publish/edit', c.req.path ) %]' method='POST' enctype='multipart/form-data' onsubmit='return verifyMe();'>
<textarea id="absurls" name='copy' cols='72' rows='40' >[% page_content %]</textarea><br />
<input id="submit_edits" type='submit' name='submit' value='Submit'><input type='reset' name='reset' value='Reset'>
</p>
</div>
